/* .show{
    animation: show-item 2s ease-in forwards;
} 
.hide{
     animation: hide-item 2s ease-in forwards; */
     /*forwards能让动画结束之后保存最后一帧的样式，这样点击hide之后，文字就会彻底隐藏了 */
/* }
@keyframes show-item{
    0% {
        opacity: 0;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 1;
        color: blue;
    }
}

@keyframes hide-item{
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: blue;
    }
} */
/*入场动画时，show的值从false变为true，入场动画执行的第一个时刻*/
.fade-enter,.fade-appear{
    opacity: 0;
}
/*入场动画执行的第二个时刻到入场动画结束前的时刻*/
.fade-enter-active,.fade-appear-active{
    opacity: 1;
    transition: opacity 1s ease-in;
}
/*整个入场动画完成之后*/
.fade-enter-done{
    opacity: 1;
}
/*出场动画执行的第一个时刻*/
.fade-exit{
    opacity: 1;
}
.fade-exit-active{
    opacity: 0;
    transition: opacity 1s ease-in;
}
.fade-exit-done{
    opacity: 0;
}
